.new-collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 70px 0 100px;
    padding: 0 5%;
}

.new-collections h1 {
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}

.new-collections hr {
    width: 110px;
    height: 3px;
    border-radius: 10px;
    background: #252525;
}

.collections {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 260px));
    justify-content: center;
    margin: 60px auto;
    gap: 26px;
    max-width: 1280px;
}

.collections > * {
    width: 100%;
}

.collections img {
    width: 100%;
}
