* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, sans-serif;
}

body {
  background: #fff;
  color: #17211b;
}

a {
  text-decoration: none !important;
  color: inherit;
}
